<body style="margin-left: 400px;">
    <div style="text-align: center; background-color: rgb(255, 214, 164); height: 700px; width: 500px; color: rgb(105, 116, 89);">
        <br><br>
        <h1>Presentacion</h1>
        <p>Nombre | Christian Naula</p>
        <p>Curso | 3E1</p>
        <img scr="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR07B5t8VoLJTvU-RRpw256Z9OMT9Vzhq0B_A&usqp=CAU" width="100px" height="100px">
        <div style="margin-left: 50px; background-color: rgb(164, 222, 255); height: 300px; width: 400px; color: rgb(105, 116, 89);">
            <br><br>
            <h1 style="margin-right: 10px; margin-left: 10px;">Soy un apersona timida, que le encanta la comida picante, la natacion, estar con la familia y divertirse a los maximo.</h1>
        </div>
        <br><br>
        <button (click)="navegacion()">Interaccion1</button><br><br><button>Interaccion2</button>
    </div>
</body>
