<body style="margin-left: 400px;">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" style="text-align: center; background-color: rgb(255, 214, 164); height: 450px; width: 500px; color: rgb(105, 116, 89);">
        <br><br>
        <h1>Hobby</h1>
        <div style="margin-left: 50px; background-color: rgb(164, 222, 255); height: 300px; width: 400px; color: rgb(105, 116, 89);">
            <br><br>
            <h1 style="margin-right: 10px; margin-left: 10px;">Me encanta cosinar todo tipo de comida, me gusta ayudar en la cosina cuando se pueda.</h1>
        </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
